body {
    height: 100%;
    background-color: black;
    color: #b3a070;
    background-image: url("../images/library.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.title {
    text-align: center;
    padding-top: .5em;
    font-size: 3.5em;
}